@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap');

/*
 * AUTHOR: toydotgame
 * CREATED ON: 2023-04-20
 * Navbar styles.
 */

:root {
	--text-color: #eee;
	--hover-color: #333;
	--accent-color: #34cc33;
	--bg-color: #1c1c1c;
}

@font-face {
	font-family: "Bold Dragon";
	src: url("media/bold-dragon.ttf");
}

html {
	background-color: #1e1e1e;
	user-select: none;
}

ul {
	list-style-type: none;
	overflow: hidden;
	box-sizing: border-box;
	border-bottom: 1px solid #333;
	height: 100vh;
}

li {
	display: inline;
	float: left;
}

li:hover {
	background-color: var(--hover-color);
}

a {
	display: block;
	padding: 18px;
	text-align: center;
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 16pt;
	color: var(--text-color);
}

#homebutton > * {
	/*padding: 10px;*/
	font-family: "Bold Dragon", sans-serif;
	font-size: 18pt;
	font-weight: 200;
	text-align: center;
	color: var(--accent-color);
}

#homebutton:hover {
	background-color: var(--bg-color);
}

.usr {
	float: right;
	background-color: var(--accent-color);
	margin: 10px;
}

.usr > a {
	padding: 9px 18px;
	color: var(--bg-color);
}

.usr > a:hover {
	color: var(--text-color)
}
