@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap');

/*
 * AUTHOR: toydotgame
 * CREATED ON: 2023-04-20
 * Main styles.
 */

:root {
	--text-color: #333;
	--hover-color: #eee;
}

@font-face {
	font-family: "Bold Dragon";
	src: url("media/bold-dragon.ttf");
}

ul {
	list-style-type: none;
	overflow: hidden;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 2px 5px #00000060;
}

li {
	display: inline;
	float: left;
}

li:hover {
	background-color: var(--hover-color);
}

a {
	display: block;
	padding: 16px;
	text-align: center;
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #333;
}

#homebutton > * {
	padding: 10px;
	font-family: "Bold Dragon", sans-serif;
	font-size: 21pt;
	font-weight: 200;
}

#homebutton:hover {
	background-color: var(--bg-color);
}

.usr {
	float: right;
	background-color: var(--text-color);
	color: #fff;
}
