@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500;700&display=swap');

@font-face {
	font-family: "Bold Dragon";
	src: url("media/bold-dragon.ttf");
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
}

h2, html {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

html {
	background-color: #1c1c1c;
	color: #eee;
}

iframe {
	box-shadow: 0 2px 5px #00000060;
}

#landing {
	height: 20%;
	padding: 100px;
	text-align: center;
	background-image: url("media/images/landing.png");
	background-size: 100%;
	user-select: none;
}

#storelanding {
	height: 20%;
	padding: 100px;
	text-align: center;
	background-image: url("media/images/store.jpg");
	background-size: 100%;
	user-select: none;
}

#landing > h1, #storelanding > h1 {
	font-family: "Bold Dragon", sans-serif;
	font-size: 40px;
	background: linear-gradient(to right, #548ce3 0%, #34cc33 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#landing > h2, #storelanding > h2 {
	color: #ccc;
}

#hpcontent {
	padding: 50px 250px;
	text-align: justify;
}

#hpcontent > img {
	float: right;
	display: inline;
	margin: 0 0 20px 20px;
}

#hpcontent > iframe {
	float: right;
	display: inline;
	margin: 0 0 20px 20px;
}

#hpstorelink {
	text-align: center;
	margin: auto;
	width: 200px;
	border: 1px solid #555;
	border-radius: 50px;
	background: linear-gradient(to right, #548ce3 0%, #34cc33 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#hpstorelink > a {
	text-decoration: none;
}

hr {
	margin: 20px;
	border: 1.5px solid #555;
	border-radius: 50px;
}

#storecontent {
	padding: 50px 150px;
	text-align: justify;
}

/* RESPONSIVE STORE CSS ELEMENTS IDK WHAT TO CALL IT BUT KEEP THIS ALL GOOD CODE BC JS WILL BE INTERACTING TY */

#storecontent { /* Grid container */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
}

.storeproduct {
	padding: 10px;
	box-sizing: border-box;
	width: 200px;
	height: 250px;
	background-color: #333;
	border: 1px solid #555;
	border-radius: 10px;
}

.storeproduct > img {
	width: 180px;
	height: 180px;
	background-size: cover;
	border-radius: 5px;
}

footer {
	position: fixed;
	margin-top: 50px;
	width: 100%;
	background-color: #333;
	left: 0;
	bottom: 0;
	text-align: center;
	box-sizing: border-box;
	padding: 3px;
}

main {
	margin-bottom: 100px; /* idk */
}

#productimg {
	box-sizing: border-box;
	margin: 50px;
		margin-right: 0;
	float: left;
	width: 40%;
	height: auto;
	background-size: cover;
	border-radius: 50px;
}

#productinfo {
	box-sizing: border-box;
	padding: 50px;
		padding-left: 0;
	float: right;
	width: 50%;
}

#productdesc{
	text-align: left;
}

#productinfo > hr {
	margin: 20px 0;
}

#cartbtn {
	margin-top: 50px;
	border: 2px solid #48e047;
	border-radius: 50px;
	background-color: #34cc33;
	width: 300px;
	height: 80px;
	color: #1c1c1c;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 30px;
	cursor: pointer;
}

#cartcontent {
	width: 50%;
	padding: 50px 0 50px 100px;
	float: left;
}

#cartsidebar {
	width: 100%;
	max-width: 30vw;
	padding: 50px 20px 50px 0;
	float:right;
}

.cartitem {
	border: 2px solid #555;
		border-style: solid none none;
	height: 50px;
	padding: 10px 30px;
		padding-right: 0;
}

.cartitem > img {
	height: 50px;
	width: 50px;
	border-radius: 5px;
	display: inline;
	float: left;
}

.cartitem > h1, .cartitem > p {
	display: inline;
	padding-left: 5px;
}

.cartitem > h1 {
	font-size: 20px;
}

.cartqty {
	float: right;
	height: 50px;
	width: 80px;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	text-align: right;
	padding: 0 5px;
}

.cartitem > h1 > a {
	color: #eee;
	text-decoration: none;
}

.cartitem > h1:hover {
	text-decoration: 1.5px underline #555;
}

.cartbin {
	filter: invert(0.4); /* Invert black icon to grey-ish bc I'm not bothered to set an rgb */
	float: right !important;
	padding-left: 5px;
	width: 25px !important;
}

.loginform {
	background-color: #1c1c1c;
	border: none;
		border-bottom: 2px solid #34cc33;
	color: #fff;
	width: 35%;
	height: 15%;
	margin: 15px 0;
	padding: 10px 25px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 21pt;
}

.loginform:focus {
	outline: none;
}

.loginbtn {
	background-color: #34cc33;
	color: #1c1c1c;
	border: none;
	border-radius: 7px;
	width: 30%;
	padding: 8px;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 20pt;
	margin-top: 25px;
}

.loginbtn:hover {
	background-color: #333;
	color: #eee;
}

.loginbtn:disabled {
	background-color: #222;
	color: #eee;
}
