/*
 * AUTHOR: toydotgame
 * CREATED ON: 2024-02-29
 * Basically just a slightly modified ICCMC main stylesheet.
 */

/* GENERIC */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	word-wrap: break-word;
}

html {
	min-height: 100vh;
}

body {
	background-image: linear-gradient(#fff, #6e6fc0);
		background-attachment: fixed;
	margin: 0 auto;
	max-width: 900px;
}

#navbar, #content, #aside {
	padding: 7px;
}

.card {
	margin-bottom: 14px;
	padding: 14px;
	background-image: linear-gradient(#fff, #c5c5df);
	border: 0.5px solid #ccc;
		border-radius: 7px;
}

#content > .card {
	padding: 14px 24px;
}

.card:last-child {
	margin-bottom: 0;
}

a {
	color: #444;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

img {
	display: inline-block;
	border-radius: 7px;
	cursor: pointer;
}

img:not([width]) {
	width: 100%;
}

code {
	font-family: monospace;
}

p > code {
	font-size: 16px;
}

ul, ol {
	padding: 0 2em;
}

/* NAV */

#logo {
	display: inline;
	width: auto;
	height: 24px;
	border-radius: 0;
}

#nav {
	background-image: linear-gradient(#fe9, #fc3);
	font-size: 20px;
}

/* CONTENT */

#content {
	width: 100%;
	text-align: justify;
}

#content > div > p {
	padding-bottom: 14px;
}

table, th, td {
	border: 1px solid gray;
		border-collapse: collapse;
}

/* ASIDE */

#footer {
	width: 100%;
	color: #999;
	text-align: center;
}

/* IMG MODAL */

#modaldim {
	position: fixed;
	display: none;
	padding: 5%;
	width: 100%;
	height: 100%;
		top: 0;
		left: 0;
	background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
	text-align: center;
}

#modalimg {
	/* Reset styles from normal imgs on the page */
	margin: 0 !important;
	border: 0 !important;
		border-radius: 0 !important;
	
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* RESPONSIVE*/

@media only screen and (max-width: 700px) {
	#logo {
		width: 100px;
	}

	#content, #aside {
		width: 100%;
	}
}
